@model IEnumerable<Hastane>
@{
    ViewData["Title"] = "HastaneListesi";
}

<div class="container mt-3">
    <h2>Hastane Listesi</h2>
    <hr />
    <div class="row">
        <div class="col">
            @if (Model.Count() > 0)
            {
                <table class="table table-bordered table-striped">

                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Hastane Adı</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.HastaneId</th>
                                <th>@item.HastaneAdi</th>
                                <th>
                                    <a class="btn btn-primary btn-sm" asp-action="BolumListesi" asp-route-id="@item.HastaneId">
                                        Bölümler
                                    </a>
                                    <a class="btn btn-warning btn-sm" asp-action="HastaneDuzenle" asp-route-id="@item.HastaneId">
                                        Düzenle
                                    </a>
                                    <a class="btn btn-danger btn-sm" asp-action="HastaneSil" asp-route-id="@item.HastaneId">
                                        Sil
                                    </a>
                                </th>
                            </tr>
                        }
                    </tbody>

                </table>
            }
            else
            {
                <div class="alert alert-danger">
                    Hastane Bulunamadı
                </div>
            }

        </div>
    </div>
    <a class="btn btn-success" asp-action="HastaneEkle">Hastane Ekle</a>
</div>

